* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(45deg, #1d0000, #20205b); */
    background: linear-gradient(45deg, #db5375, #b3ffb3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    width: 300px;
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
}

.left, .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;
}

.right {
    width: 42%;
    background: #f4351e;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #000;
}

.left {
    width: 58%;;
}

#date {
    font-size: 100px;
    line-height: 90px;
}